@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$whiteC: hsl(0, 0%, 100%);
$lightPink: hsl(275, 100%, 97%);
$palePurple: hsl(292, 16%, 49%);
$darkPurple: hsl(281, 83%, 54%);

$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work-Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $palePurple;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 4rem;
    width: 60rem;
    height: 56.5rem;

    .title-container {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 52rem;
      height: 6.6rem;

      .img {
        width: 4rem;
        height: 4rem;
      }
    }

    .accordion-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 52rem;
      height: 6.6rem;

      .accordion-item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 52rem;
        height: 6.6rem;
      }
    }
    .accordion-description-1 {
      display: none;
    }
    .accordion-description-2 {
      display: none;
    }
    .accordion-description-3 {
      display: none;
    }
    .accordion-description-4 {
      display: none;
    }
  }
}

.vertical-line {
  background-color: $lightPink;
  height: 0.1rem;
  width: 52rem;
  margin: 2.4rem 0;
}
